*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath

target/

.gradle
build/

*.log*twelvefactorapp.iml
twelvefactorapp.iml
.gradel/
_builds/
_projects/
_steps/
