*.class
*.woff
*.eot
*.svg
*.woff2
*.ttf

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath

target/

.gradle
build/
src/main/resources/static/scripts/bundle.js

*.log*twelvefactorapp.iml
twelvefactorapp.iml
.gradel/
_cache/
_builds/
_projects/
_steps/
node_modules
willitconnect.iws
